.module-awards {
  padding: 150px var(--lateral-space) 250px;
}
.module-awards .module-title {
  text-align: center;
  margin-bottom: 150px;
}
.module-awards .logos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.module-awards .logos-container .logo {
  max-width: 260px;
  max-height: 130px;
  margin: 0 10px;
}
@media (max-width: 800px) {
  .module-awards {
    padding: 90px var(--lateral-space);
  }
  .module-awards .module-title {
    text-align: center;
    margin-bottom: 90px;
  }
  .module-awards .logos-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .module-awards .logos-container .logo {
    max-width: 45%;
    max-height: 90px;
    margin: 0 2% 30px;
  }
}
.module-about-home {
  overflow: hidden;
  padding: 100px 0;
}
.module-about-home .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 var(--lateral-space);
  margin-bottom: 100px;
}
.module-about-home .title-container .module-title {
  max-width: 700px;
}
.module-about-home .title-container .button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 15px;
  margin-left: 50px;
}
.module-about-home .images-container {
  margin-bottom: 70px;
  -webkit-transition: -webkit-transform ease-out;
  transition: -webkit-transform ease-out;
  transition: transform ease-out;
  transition: transform ease-out, -webkit-transform ease-out;
}
.module-about-home .images-container .image-container {
  border-radius: 20px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.module-about-home .images-container .image-container:after {
  content: '';
  display: block;
  padding-bottom: 120%;
}
.module-about-home .more-info-container {
  padding: 0 var(--lateral-space);
}
.module-about-home .more-info-container .more-info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.module-about-home .more-info-container .more-info-title .arrow {
  margin-left: 20px;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.module-about-home .more-info-container.opened .more-info-title .arrow {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.module-about-home .more-info-container.opened .more-info-content {
  height: auto;
}
.module-about-home .more-info-container .more-info-content {
  overflow: hidden;
  height: 0;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper {
  padding: 70px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column .title {
  margin-bottom: 20px;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column .text:not(:last-child) {
  margin-bottom: 30px;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
  margin-top: auto;
}
@media (max-width: 800px) {
  .module-about-home {
    padding: 90px var(--lateral-space);
  }
  .module-about-home .title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    padding: 0;
  }
  .module-about-home .title-container .button {
    margin-top: 40px;
    margin-left: 0;
  }
  .module-about-home .images-container {
    margin-bottom: 50px;
  }
  .module-about-home .more-info-container {
    padding: 0;
  }
  .module-about-home .more-info-container .more-info-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .module-about-home .more-info-container .more-info-content .more-info-content-wrapper {
    padding: 50px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column {
    width: 100%;
    margin-bottom: 50px;
  }
  .module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column:last-child {
    margin-bottom: 0;
  }
}
.modules-about .module {
  margin: 150px 0;
}
.modules-about .module-awards {
  padding: 0 var(--lateral-space);
}
.module-title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 var(--lateral-space);
}
.module-title-text .title {
  width: 50%;
}
.module-title-text .text {
  width: 45%;
}
.module-image {
  padding: 0 var(--lateral-space);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.module-image.image-position-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.module-image .image-container {
  width: auto;
  max-width: 80%;
}
.module-image .image-container .image {
  border-radius: 20px;
  max-height: 400px;
}
.module-team {
  padding: 230px var(--lateral-space);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 85px 1fr 85px 1fr;
  grid-template-columns: repeat(3, 1fr);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 211, 168, 0)), to(#00D3A8));
  background: linear-gradient(180deg, rgba(0, 211, 168, 0) 0%, #00D3A8 100%);
  grid-gap: 130px 90px;
}
.module-team .item .image-container {
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.module-team .item .image-container:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.module-team .item .name {
  margin-bottom: 5px;
}
.module-about-home .title-container .module-title {
  width: 100%;
  text-align: center;
  max-width: none;
}
.module-link-section {
  padding: 0 var(--lateral-space);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.module-link-section .text-container {
  width: 45%;
}
.module-link-section .text-container .tagline {
  margin-bottom: 50px;
}
.module-link-section .text-container .button {
  margin-top: 70px;
}
.module-link-section .images-container {
  width: 50%;
}
.module-link-section .images-container .image-container {
  border-radius: 20px;
  overflow: hidden;
}
.module-link-section .images-container .image-container + .image-container {
  margin-top: 32px;
}
@media (max-width: 800px) {
  .modules-about .module {
    margin: 70px 0;
  }
  .module-title-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .module-title-text .title {
    width: 100%;
  }
  .module-title-text .title:not(.empty) + .text:not(.empty) {
    margin-top: 30px;
  }
  .module-title-text .text {
    width: 100%;
  }
  .module-team {
    padding: 70px var(--lateral-space);
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .module-team .item .image-container {
    margin-bottom: 15px;
  }
  .module-link-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .module-link-section .text-container {
    width: 100%;
    margin-bottom: 40px;
  }
  .module-link-section .text-container .tagline {
    margin-bottom: 30px;
  }
  .module-link-section .text-container .button {
    margin-top: 40px;
  }
  .module-link-section .images-container {
    width: 100%;
  }
}

/* Achievements */
.modules-about .module-our-achievements-box,
.modules-about .module-our-work-industries  {
  padding: 0 var(--lateral-space);
}
.modules-about .module-our-work-industries  {
  margin-bottom: 0;
}
.modules-about .module-our-achievements-box .our-achievements-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box {
  padding: 0 48px;
  border-right: 1px solid rgb(0, 0, 0, 0.5);
  width: 33.33%;
}
.modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box:first-child {
  padding-left: 0;
}
.modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box:last-child {
  padding-right: 0;
  border-right: none;
}
.modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box span {
  font-size: 55px;
  line-height: 61px;
  margin-bottom: 24px;
  display: block;
} 
.modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box .title {
  font-size: 30px;
  line-height: 33px;
  margin-bottom: 16px;
}
.modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box p {
  font-size: 19px;
  line-height: 26px;
}

/* module our work industries */
.modules-about .module-our-work-industries .our-work-industries-wrapper {
  padding: 90px;
  border-radius: 45px;
  background-color: black;
}
.modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon {
  margin-bottom: 60px;
}
.modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon h2::after {
  content: "";
  background-image: url('../assets/img/services-active.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all .3s ease-in;
  scale: 1;
}

.modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon h2::before {
  content: "";
  background-color: #F6F459;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 5px;
  transform: translateY(0);
  border-radius: 100%;
  transition: all .5s ease-in;
}
.modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon h2::after {
  content: "";
  /* background-image: url('../assets/img/services.svg'); */
  position: absolute;
  left: 8px;
  top: 12px;
  transform: translateY(0%);
  width: 46px;
  height: 46px;
  background-size: 46px;
  transition: all .5s ease-in;
  scale: 0.7;
}
.modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon h2 {
  margin-bottom: 0;
  padding-left: 80px;
  transition: all .5s ease-in;
  font-size: 45px;
  position: relative;
  min-height: 60px;
  vertical-align: middle;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  word-break: break-word;
}

.modules-about .module-our-work-industries .our-work-industries-wrapper .our-industries-box {
  display: flex;
  flex-wrap: wrap;
}
.modules-about .module-our-work-industries .our-work-industries-wrapper .our-industries-box .button-white-green {
  padding: 16px 32px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  margin-right: 11px;
  margin-bottom: 18px;
  cursor: default;
}
.modules-about .module-our-work-industries .our-work-industries-wrapper .our-industries-box .button-white-green:hover {
  background-color: white;
  color: black;
  border-color: white;
}

/* module-process */
.module-process {
  padding: 0 var(--lateral-space);
}
.module-process .process-container-misson {
  padding: 90px;
  border-radius: 45px;
  background-color: black;
}
.module-process .process-container-misson .title {
  margin-bottom: 30px;
}

.module-process .process-container-misson .title::before {
  content: "";
  background-color: #F6F459;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 5px;
  transform: translateY(0);
  border-radius: 100%;
  transition: all .5s ease-in;
}
.module-process .process-container-misson .title::after {
  content: "";
  background-image: url('../assets/img/services-active.svg');
  position: absolute;
  left: 14px;
  top: 17px;
  transform: rotate(0deg);
  width: 34px;
  height:  34px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 34px;
  transition: 2s;
}
.module-process .process-container-misson .text-container.active .title::after {
  transform: rotate(360deg);
}
.module-process .process-container-misson .title {
  padding-left: 80px;
  transition: all .5s ease-in;
  font-size: 55px;
  position: relative;
  min-height: 60px;
  vertical-align: middle;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  word-break: break-word;
}
.module-process .process-container-misson p {
  padding-left: 80px;
}
.module-process .process-container-misson .about-sub-title {
  color: white;
  font-size: 30px;
  margin-bottom: 14px;
}
.module-process .process-container-misson .about-desc {
   color: white;
   font-size: 19px;
}

@media (max-width: 1199px) {
  .module-process .process-container-misson {
    padding: 60px;
  } 
  .module-process .process-container-misson .title {
    font-size: 45px;
  }
  .module-process .process-container-misson .title {
    margin-bottom: 20px;
  }
  .modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box {
    padding: 0 35px;
    width: 50%;
    margin-bottom: 35px;
  }
  .modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box:last-child {
    margin-bottom: 0;
  }
  .modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box:nth-of-type(2) {
    border-right: 0;
  }
  .modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box span {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
  } 
  .modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box .title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper {
    padding: 70px;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon h2 {
    font-size: 38px;
    width: 80%;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon {
    margin-bottom: 45px;
  }
}
@media (max-width: 991px) {
  .module-process .module-content {
    padding: 0 !important;
  }
  .module-process .process-container-misson {
    padding: 45px;
  }
  .module-process .process-container-misson .title {
    font-size: 40px;  
  }
  .module-process .process-container-misson .about-sub-title {
    font-size: 24px;
    margin-bottom: 12px;
}
  .modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box {
    padding: 0 25px 0 0;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    padding-right: 0;
  }
  .modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box:last-child {
    border-bottom: none;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper {
    padding: 50px;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon h2 {
    font-size: 30px;
    width: 90%;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon {
    margin-bottom: 35px;
  }
}
@media (max-width: 800px) {
  .module-process .process-container-misson {
    padding: 35px;
  }
  .module-process .process-container-misson .title {
    font-size: 35px;
  }
  .modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box span {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 10px;
  } 
  .modules-about .module-our-achievements-box .our-achievements-box-wrapper .our-achievements-box .title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper {
    padding: 40px;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon h2 {
    font-size: 24px;
    width: 100%;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper .title-with-icon {
    margin-bottom: 25px;
  }
  .modules-about .module-our-work-industries .our-work-industries-wrapper .our-industries-box .button-white-green {
    padding: 16px 25px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .module-process .process-container-misson {
    padding: 30px;
  }
  .module-process .process-container-misson .title {
    padding-left: 75px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .module-process .process-container-misson p {
    padding-left: 75px;
  }
}
