.module-services {
  padding: 170px var(--lateral-space);
  background-color: var(--color-bg, #181818);
  color: var(--color-font, #FFFFFF);
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}
.module-services .module-title {
  margin-bottom: 23px;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
.module-services .service-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0;
  border-bottom: 1px solid;
  -webkit-transition: color 0.6s, border 0.6s;
  transition: color 0.6s, border 0.6s;
}
.module-services .service-container:hover {
  color: var(--color-hover, #00D3A8);
}
.module-services .service-container:hover .icon-plus {
  stroke: var(--color-hover, #00D3A8);
}
.module-services .service-container:hover .image-wrapper {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.module-services .service-container .icon-plus {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30px;
  height: 30px;
  stroke: var(--color-font, #FFFFFF);
  -webkit-transition: stroke 0.6s;
  transition: stroke 0.6s;
}
.module-services .service-container .image-wrapper {
  position: absolute;
  width: 340px;
  right: 100px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.4s;
  transition: opacity 0.6s, -webkit-transform 0.4s;
  transition: opacity 0.6s, transform 0.4s;
  transition: opacity 0.6s, transform 0.4s, -webkit-transform 0.4s;
}
.module-services .service-container .image-wrapper:after {
  content: '';
  display: block;
  padding-bottom: 66.77%;
}
.module-services .service-container .image-wrapper .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.module-services .button-container {
  margin-top: 100px;
}
@media (max-width: 800px) {
  .module-services {
    padding: 90px var(--lateral-space);
  }
  .module-services .service-container {
    padding: 15px 0;
  }
  .module-services .service-container .icon-plus {
    margin-left: 20px;
    width: 16px;
    height: 16px;
  }
  .module-services .service-container .image-wrapper {
    width: 180px;
    right: 0px;
    bottom: 18px;
  }
  .module-services .button-container {
    margin-top: 50px;
    text-align: center;
  }
}
.module-logos {
  padding: 250px 0;
}
.module-logos.with-title {
  padding-top: 170px;
}
.module-logos.with-title .title {
  text-align: center;
  margin: 0 auto 130px;
  padding: 0 var(--lateral-space-extra-small);
  max-width: 1000px;
}
@media (max-width: 800px) {
  .module-logos {
    padding: 150px 0;
  }
  .module-logos.with-title {
    padding-top: 70px;
  }
  .module-logos.with-title .title {
    margin-bottom: 70px;
  }
}
.module-cover-jobs {
  padding: 100px var(--lateral-space) 150px;
}
.module-cover-jobs .title {
  width: 50%;
}
.module-offices-jobs {
  padding: 150px var(--lateral-space);
}
.module-offices-jobs .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}
.module-offices-jobs .buttons-container .button {
  margin-right: 35px;
}
.module-offices-jobs .buttons-container .button:last-child {
  margin-right: 0;
}
.module-offices-jobs .offices-container .office-container {
  display: none;
}
.module-offices-jobs .offices-container .office-container.active {
  display: block;
}
.module-offices-jobs .offices-container .office-container .title-container {
  margin-bottom: 120px;
}
.module-offices-jobs .offices-container .office-container .title-container .office {
  margin-bottom: 30px;
}
.module-offices-jobs .offices-container .office-container .offers-container .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
.module-offices-jobs .offices-container .office-container .offers-container .offer .arrow path {
  -webkit-transition: stroke 0.6s;
  transition: stroke 0.6s;
}
.module-offices-jobs .offices-container .office-container .offers-container .offer:hover {
  color: #181818;
}
.module-offices-jobs .offices-container .office-container .offers-container .offer:hover .arrow path {
  stroke: #181818;
}
@media (max-width: 800px) {
  .module-cover-jobs {
    padding: 80px var(--lateral-space);
  }
  .module-cover-jobs .title {
    width: 100%;
  }
  .module-offices-jobs {
    padding: 70px var(--lateral-space);
  }
  .module-offices-jobs .buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px;
  }
  .module-offices-jobs .buttons-container .button {
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .module-offices-jobs .buttons-container .button:last-child {
    margin-bottom: 0;
  }
  .module-offices-jobs .offices-container .office-container .title-container {
    margin-bottom: 50px;
  }
  .module-offices-jobs .offices-container .office-container .title-container .office {
    margin-bottom: 20px;
  }
  .module-offices-jobs .offices-container .office-container .offers-container .offer .arrow {
    width: 14px;
  }
}
