.module-services {
  padding: 170px var(--lateral-space);
  background-color: var(--color-bg, #181818);
  color: var(--color-font, #FFFFFF);
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}
.module-services .module-title {
  margin-bottom: 23px;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
.module-services .service-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0;
  border-bottom: 1px solid;
  -webkit-transition: color 0.6s, border 0.6s;
  transition: color 0.6s, border 0.6s;
}
.module-services .service-container:hover {
  color: var(--color-hover, #00D3A8);
}
.module-services .service-container:hover .icon-plus {
  stroke: var(--color-hover, #00D3A8);
}
.module-services .service-container:hover .image-wrapper {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.module-services .service-container .icon-plus {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 30px;
  height: 30px;
  stroke: var(--color-font, #FFFFFF);
  -webkit-transition: stroke 0.6s;
  transition: stroke 0.6s;
}
.module-services .service-container .image-wrapper {
  position: absolute;
  width: 340px;
  right: 100px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: opacity 0.6s, -webkit-transform 0.4s;
  transition: opacity 0.6s, -webkit-transform 0.4s;
  transition: opacity 0.6s, transform 0.4s;
  transition: opacity 0.6s, transform 0.4s, -webkit-transform 0.4s;
}
.module-services .service-container .image-wrapper:after {
  content: '';
  display: block;
  padding-bottom: 66.77%;
}
.module-services .service-container .image-wrapper .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.module-services .button-container {
  margin-top: 100px;
}
@media (max-width: 800px) {
  .module-services {
    padding: 90px var(--lateral-space);
  }
  .module-services .service-container {
    padding: 15px 0;
  }
  .module-services .service-container .icon-plus {
    margin-left: 20px;
    width: 16px;
    height: 16px;
  }
  .module-services .service-container .image-wrapper {
    width: 180px;
    right: 0px;
    bottom: 18px;
  }
  .module-services .button-container {
    margin-top: 50px;
    text-align: center;
  }
}
.module-logos {
  padding: 250px 0;
}
.module-logos.with-title {
  padding-top: 170px;
}
.module-logos.with-title .title {
  text-align: center;
  margin: 0 auto 130px;
  padding: 0 var(--lateral-space-extra-small);
  max-width: 1000px;
}
@media (max-width: 800px) {
  .module-logos {
    padding: 150px 0;
  }
  .module-logos.with-title {
    padding-top: 70px;
  }
  .module-logos.with-title .title {
    margin-bottom: 70px;
  }
}
.module-display {
  padding: 25px 0;
}
.module-offices {
  padding: 170px var(--lateral-space);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.module-offices .text-container {
  width: 50%;
}
.module-offices .text-container .module-title {
  margin-bottom: 70px;
}
.module-offices .text-container .steps-container .step {
  cursor: pointer;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.module-offices .text-container .steps-container .step.active {
  pointer-events: none;
  color: #FFFFFF;
}
.module-offices .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}
.module-offices .buttons-container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.module-offices .buttons-container .button:last-child {
  margin-right: 0;
}
.module-offices .slider-container {
  position: relative;
  width: 32%;
}
.module-offices .slider-container .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 16px;
  padding: 30px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.module-offices .slider-container .slide.background-green a:hover {
  color: #FFFFFF;
}
.module-offices .slider-container .slide .country {
  margin-bottom: 50px;
}
.module-offices .slider-container .slide .time {
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .module-offices {
    padding: 90px var(--lateral-space);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .module-offices .text-container {
    width: 100%;
    margin-bottom: 50px;
  }
  .module-offices .text-container .module-title {
    margin-bottom: 20px;
  }
  .module-offices .slider-container {
    width: 70%;
  }
  .module-offices .buttons-container {
    margin-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .module-display {
    padding: 15px 0;
  }
}
.module-about-home {
  overflow: hidden;
  padding: 100px 0;
}
.module-about-home .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 var(--lateral-space);
  margin-bottom: 100px;
}
.module-about-home .title-container .module-title {
  max-width: 700px;
}
.module-about-home .title-container .button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 15px;
  margin-left: 50px;
}
.module-about-home .images-container {
  margin-bottom: 70px;
  -webkit-transition: -webkit-transform ease-out;
  transition: -webkit-transform ease-out;
  transition: transform ease-out;
  transition: transform ease-out, -webkit-transform ease-out;
}
.module-about-home .images-container .image-container {
  border-radius: 20px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.module-about-home .images-container .image-container:after {
  content: '';
  display: block;
  padding-bottom: 120%;
}
.module-about-home .more-info-container {
  padding: 0 var(--lateral-space);
}
.module-about-home .more-info-container .more-info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.module-about-home .more-info-container .more-info-title .arrow {
  margin-left: 20px;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.module-about-home .more-info-container.opened .more-info-title .arrow {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.module-about-home .more-info-container.opened .more-info-content {
  height: auto;
}
.module-about-home .more-info-container .more-info-content {
  overflow: hidden;
  height: 0;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper {
  padding: 70px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column .title {
  margin-bottom: 20px;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column .text:not(:last-child) {
  margin-bottom: 30px;
}
.module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: flex-end;
  margin-top: auto;
}
@media (max-width: 800px) {
  .module-about-home {
    padding: 90px var(--lateral-space);
  }
  .module-about-home .title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    padding: 0;
  }
  .module-about-home .title-container .button {
    margin-top: 40px;
    margin-left: 0;
  }
  .module-about-home .images-container {
    margin-bottom: 50px;
  }
  .module-about-home .more-info-container {
    padding: 0;
  }
  .module-about-home .more-info-container .more-info-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .module-about-home .more-info-container .more-info-content .more-info-content-wrapper {
    padding: 50px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column {
    width: 100%;
    margin-bottom: 50px;
  }
  .module-about-home .more-info-container .more-info-content .more-info-content-wrapper .column:last-child {
    margin-bottom: 0;
  }
}
.module-cover-home {
  width: 100%;
  padding: 0 var(--lateral-space-extra-small);
  margin-bottom: 50px;
}
.module-cover-home .video-container.playing {
  margin-left: calc(var(--lateral-space-extra-small) * -1);
  width: calc(100% + var(--lateral-space-extra-small) * 2);
}
.module-approach {
  padding: 170px var(--lateral-space);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.module-approach .text-container {
  width: 70%;
}
.module-approach .text-container .button-container {
  margin-top: 70px;
}
.module-latest-works {
  padding: 170px var(--lateral-space);
}
.module-latest-works .columns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.module-latest-works .columns-container .column {
  width: 47%;
}
.module-latest-works .columns-container .column .module-title {
  margin-top: 30px;
  margin-bottom: 200px;
}
.module-latest-works .columns-container .column .work-container {
  position: relative;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 70px;
}
.module-latest-works .columns-container .column .work-container:after {
  content: '';
  display: block;
  padding-bottom: 115.95%;
}
.module-latest-works .columns-container .column .work-container:hover .text-container {
  opacity: 1;
}
.module-latest-works .columns-container .column .work-container .text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.module-latest-works .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.module-jobs {
  padding: 170px var(--lateral-space) 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.module-jobs .module-title {
  position: relative;
}
.module-jobs .text-container {
  position: relative;
  width: 70%;
}
.module-jobs .text-container .button {
  margin-top: 70px;
}
.module-jobs .shapes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.module-jobs .shapes-container .shape {
  position: absolute;
}
.module-jobs .shapes-container .shape.shape-1 {
  width: 167px;
  height: 167px;
  right: calc(var(--lateral-space) + 200px);
  bottom: calc(var(--lateral-space) + 350px);
}
.module-jobs .shapes-container .shape.shape-2 {
  width: 306px;
  height: 306px;
  right: calc(var(--lateral-space) + 240px);
  bottom: calc(var(--lateral-space) + 140px);
}
.module-jobs .shapes-container .shape.shape-3 {
  width: 252px;
  height: 274px;
  right: calc(var(--lateral-space) - 10px);
  bottom: calc(var(--lateral-space) + 210px);
}
.module-jobs .shapes-container .shape.shape-4 {
  width: 227px;
  height: 227px;
  right: calc(var(--lateral-space) + 210px);
  bottom: calc(var(--lateral-space) - 70px);
}
.module-jobs .shapes-container .shape.shape-5 {
  width: 199px;
  height: 199px;
  right: var(--lateral-space);
  bottom: var(--lateral-space);
}
@media (max-width: 800px) {
  .module-cover-home .video-container {
    border-radius: 20px;
  }
  .module-cover-home .video-container:not(.height-auto):after {
    padding-bottom: 138.5%;
  }
  .module-approach {
    padding: 90px var(--lateral-space);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .module-approach .module-title {
    margin-bottom: 20px;
  }
  .module-approach .text-container {
    width: 100%;
  }
  .module-approach .text-container .button-container {
    margin-top: 50px;
    text-align: center;
  }
  .module-latest-works {
    padding: 90px var(--lateral-space);
  }
  .module-latest-works .columns-container .column .module-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50%;
  }
  .module-latest-works .columns-container .column .work-container {
    margin-bottom: 40px;
  }
  .module-jobs {
    padding: 90px var(--lateral-space);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .module-jobs .module-title {
    margin-bottom: 20px;
  }
  .module-jobs .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .module-jobs .text-container .button {
    margin-top: 300px;
  }
  .module-jobs .shapes-container .shape {
    position: absolute;
    -webkit-transform: translate(50%);
            transform: translate(50%);
  }
  .module-jobs .shapes-container .shape.shape-1 {
    width: 85px;
    height: 85px;
    right: 50%;
    bottom: 400px;
  }
  .module-jobs .shapes-container .shape.shape-2 {
    width: 155px;
    height: 155px;
    right: 70%;
    bottom: 280px;
  }
  .module-jobs .shapes-container .shape.shape-3 {
    width: 128px;
    height: 140px;
    right: 27%;
    bottom: 300px;
  }
  .module-jobs .shapes-container .shape.shape-4 {
    width: 115px;
    height: 115px;
    right: 70%;
    bottom: 160px;
  }
  .module-jobs .shapes-container .shape.shape-5 {
    width: 125px;
    height: 125px;
    right: 27%;
    bottom: 170px;
  }
}
